body{
	padding: 0px;
	margin: 0px;
	max-width: 1600px;
	margin: auto auto;
	border-top: 1px solid #ededed;

}


h1,h2,h3,h4,h5{
	text-transform: uppercase;
}
h1{
	text-align: center;
	color: #4b4b4b;
	font-size: 1.8em;
}
h2{
	color: #88939a;
	font-size: 1.5em;
}
h3{
	color: #4b4b4b;
	font-size: 1.2em;
}
h4{
	color: #909090;
}
p{
	color: #909090;
	}


option, input{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
option{
	font-size: 1.2em;
	padding: 6px;
}
input{
	font-size: 1.2em;
	padding: 5px;
}

.container-fluid div{
	border: 0px solid black;
}
.row{
	max-width: 900px;
	margin: auto auto;
}
.row div{
	margin: 0px;
	padding: 0px;

}
.row.fullWidth{
	max-width: 100%;
	margin: 0px;
	padding: 0px;
	margin: 0px;
}


.right{
	float: right;
}

.topTabs{
	padding: 0px;
	margin: 0px;
}



.topBox{
	padding: 20px;
}



.bannerImage{
	background-image: url(../images/background1.jpg);
	width: 100%;
	height: 662px;
}


.searchBox{
	background-color: #ededed;
	text-align: center;
	padding-bottom: 40px;
}
.searchBox input{
	width: 350px;
	margin-bottom: 10px;
}
.searchBox .searchSubmit{
	width: 475px;
	background-color: #e75640;
	color: white;
	font-weight: bold;
	background-image: url(../images/icons/iconSearch.gif);
	background-repeat: no-repeat;
	background-position: 6px 6px;
	font-size: 1em;
	margin: 10px 0px 0px 0px;
	padding-left: 25px;

}



.searchBox select{
	width: 85px;
}


.neighborBox div div{
	margin: 5px;
}

.neighborBox img{
	width: 100%;
}

.tourBox{
	background-color: #ededed;
}

.tourBox div div{
	margin: 5px;
	min-height: 350px;
	height: 450px;
	background-color: white;
	padding-bottom: 20px;
}
.tourBox img{
	width: 100%;
}
.tourBox h3{
	padding-left: 20px;
}
.tourBox p{
	padding: 0px 0px 0px 20px;
	margin: 0px;
}
